@font-face {
    font-family: CH_Sofia;
    src: url(../Fonts/Sofia.otf);
}

body {
    font-family: CH_Sofia;
    font-weight: lighter;
    -webkit-font-smoothing: antialiased;
    color: #eee;
    background: black;
}

h1, h2, h3 {
    font-weight: normal;
}

a {
  color: inherit;
}

.container {
  padding:40px;
  margin: auto;
  max-width: 1000px;
  text-align: center;
}

.container p {
  line-height: 1.5em;
  text-align: justify;
}

.container figure {
  margin-bottom: 3em;
}

.container figcaption {
  margin-top: 1em;
  font-size: 0.8em;
}

.container img {
  width: 70%;
  height: auto;
}

.container video {
  width: 150px;
  height: auto;
}

.planet {
  display: inline-block;
}
